<html>
    <head>
        <title>{% block title %}EniBlog{% endblock %}</title>
        <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="header">
            {% block header %}
            <p class="logo"><img src="{{ asset('img/logo_eni.gif') }}" alt="logo" /></a></p>
            <h1>EniBlog</h1>
            <div class="clear"></div>
            <ul class="menu">

            </ul>
            <div class="clear"></div>
            <hr />
            {% endblock %}
        </div>
        <div class="body">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            {% block footer %}© 2018 Eni-Ecole - Tous droits réservés{% endblock %}
        </div>
    </body>
</html>