body {
    text-align: center;
}

body, select, input, div, a, button, img {
    cursor: url('../img/cursor.png'), auto;
}

h1, h2, h3, a, p, div {
    font-family: arial,sans-serif;
}

hr {
    margin-top: 20px;
}

p.logo {
    margin-top : 20px;
}

h1.titre {
    margin-top : 50px;
    text-align: left;
}

div.clear {
    clear: both;
}

ul.menu {
    list-style-type: none;
    margin-left: 17px;
    padding: 0;
}

ul.menu li {
    display: inline-block;
    border: 1px solid #000000;
    background-color: #D7DDDB;
    float: left;
    margin-right: 10px;
}

ul.menu li:hover {
    background-color: #FAC699;
}

ul.menu li a,
ul.menu li a:hover,
ul.menu li a:active {
    text-align: center;
    display: block;
    color: orangered;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

div.ad {
    cursor: pointer;
}

div.ad:hover {
    opacity: 0.75;
}

div.ad .thumbnail{
    postition : relative;
    height : 400px;
}

.thumbnail img {
    max-width: 100%;
    height: 50%;
}

.thumbnail .caption {
    max-height: 40%;
}

.glyphicon-star,
.glyphicon-star-empty{
    position :absolute;
    top: 360px;
    right: 30px;
    font-size: 2em;
    text-decoration: none;
    color:orange;
}

.glyphicon-star:hover,
.glyphicon-star-empty:hover{
    text-decoration: none;
    color:orange;
    transform: scale(1.5);
}

.glyphicon-star:link,
.glyphicon-star-empty:link{
    text-decoration: none;
}

div.footer {
    padding: 40px 0px 20px 0px;
    text-align: center;
    font-size: 12px;
}

.search .form-control {
    display:inline-block;
    width: 50%
}

.search .control-label {
    margin-right: 20px;
}

.search .btn {
    margin-top: 10px;
}

div.ads {
    margin-top: 30px;
}

li a {
    text-align: center;
    display: block;
    color: orangered;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

#ad .upload {
    margin-left: 80px;
}