body {
    text-align: center;
}

h1, h2, h3, a, p, div {
    font-family: arial,sans-serif;
}

hr {
    margin-top: 20px;
}

p.logo {
    margin-top : 20px;
}

h1.titre {
    margin-top : 50px;
    text-align: left;
}

div.clear {
    clear: both;
}

ul.menu {
    list-style-type: none;
    margin-left: 17px;
    padding: 0;
}

    ul.menu li {
        display: inline-block;
        border: 1px solid #000000;
        background-color: #D7DDDB;
        float: left;
        margin-right: 10px;
    }

    ul.menu li:hover {
        background-color: #FAC699;
    }

        ul.menu li a,
        ul.menu li a:hover,
        ul.menu li a:active {
            text-align: center;
            display: block;
            color: orangered;
            text-decoration: none;
            padding: 5px;
            font-weight: bold;
        }

div.ad {
    border: 1px solid #000000;
    margin: 5px 5px;
    text-align: center;
    height: 300px;
}
    div.ad a,
    div.ad a:hover,
    div.ad a:active {
        color: #4F8A83;
    }

    div.ad h3 {
        margin: 10px 0;
    }

div.footer {
    padding: 40px 0px 20px 0px;
    text-align: center;
    font-size: 12px;
    position:absolute;
    bottom:10px;
    width:100%;
}

.search .form-control {
    display:inline-block;
    width: 50%
}

.search .control-label {
    margin-right: 20px;
}

.search .btn {
    margin-top: 10px;
}