{% extends '@Site/general.html.twig' %}

{% block title %}
    {{ parent() }} - A propos
{% endblock %}

{% block body %}
    <h3>Ajouter une annonce</h3>
    {% form_theme form 'BlogFrontBundle:Default:form.html.twig' %}
    {{form(form)}}
{% endblock %}