{% extends '@Site/general.html.twig' %}

{% block title %}
    {{ parent() }} - Changement de mot de passe
{% endblock %}

{% block body %}
    <h3>Changement de mot de passe</h3>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% form_theme form '@Site/Default/form.html.twig' %}
    {{form(form)}}
{% endblock %}